<mat-form-field
  appearance="outline"
  color="accent"
  class="wider"
>
  <mat-label>Find any pokemon</mat-label>
  <label>
    <input
      matInput
      placeholder="Find it..."
      [(ngModel)]="searchByName"
    >
  </label>
</mat-form-field>

<mat-form-field
  appearance="outline"
  color="accent">
  <mat-label>Choose pokemon type</mat-label>
  <mat-select [(value)]="searchByType">
    <mat-option value="">--</mat-option>
    <mat-option *ngFor="let type of types" [value]="type">{{type | titlecase}}</mat-option>
  </mat-select>
</mat-form-field>


<table mat-table [dataSource]="pokemons | searchType:searchByType | searchName:searchByName" *ngIf="!isLoading; else loading">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let pokemon"> {{pokemon.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let pokemon"> {{pokemon.name | titlecase}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="height">
    <th mat-header-cell *matHeaderCellDef> Height </th>
    <td mat-cell *matCellDef="let pokemon"> {{pokemon.height}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell  *matCellDef="let pokemon"> {{pokemon.weight}} </td>
  </ng-container>

  <ng-container matColumnDef="types">
    <th mat-header-cell *matHeaderCellDef> Types </th>
    <td mat-cell  *matCellDef="let pokemon">{{printIt(pokemon.types)}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let pokemon">
      <button mat-flat-button color="accent" [routerLink]="['/admin', 'pokemon', pokemon.id, 'edit']">Open</button>
      <button (click)="remove(pokemon.id)" class="danger" mat-flat-button color="accent">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<ng-template  #loading>
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</ng-template>

