# Datasource local storage ignored files
/.idea.Pokemon-Web-API/.idea/dataSources/
/.idea.Pokemon-Web-API/.idea/dataSources.local.xml
*.dll
*.pdb
netcoreapp3.1
*.cache
/.idea/*

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
AngularClient/dist
AngularClient/tmp
AngularClient/out-tsc
# Only exists if Bazel was run
AngularClient/bazel-out

# dependencies
AngularClient/node_modules
/node_modules
*/bin/Debug/netcoreapp3.1

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.csproj
*.csproj.*



# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

