<p>Sign in</p>
<form [formGroup]="form" (ngSubmit)="submit()">

  <mat-card class="danger" *ngIf="error$ | async as error" >
    {{error}}
  </mat-card>
  <mat-card class="info" *ngIf="message" >
    {{message}}
  </mat-card>

  <mat-form-field
    [ngClass]="{invalid: form.get('userName').touched && form.get('userName').invalid }"
    color="accent"
    appearance="standard">
    <mat-label>User Name</mat-label>
    <label for="userName">
      <input formControlName="userName" id="userName" matInput placeholder="User Name">
    </label>
    <mat-hint>It should contain at least 1 number</mat-hint>
    <mat-error *ngIf="form.get('userName').touched && form.get('userName').invalid">
      {{getErrorMessage('User', 'Name')}}
    </mat-error>
  </mat-form-field>

  <mat-form-field
    [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid }"
    color="accent"
    appearance="standard">
    <mat-label>Password</mat-label>
    <label for="password">
      <input formControlName="password" [type]="hide ? 'password' : 'text'" id="password" matInput placeholder="Password">
    </label>

    <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>

    <mat-error *ngIf="form.get('password').touched && form.get('password').invalid">
      {{getErrorMessage('Password')}}
    </mat-error>
  </mat-form-field>

  <button
    type="submit"
    [disabled]="form.invalid || submitted"
    mat-flat-button
    color="accent"
  >Login</button>
</form>



