.mat-list-base {
  //display: none;
  // padding-top: 4rem !important;
  /* width: 18%;
   margin-left: auto;
   margin-right: auto;*/

}

mat-progress-spinner {
  margin: 15rem auto;
  width: 50%;
}

.enableScrollBar{
  height: 100%;
  overflow: auto;
}

.bigger-icon {
  width: 76px !important;
  height: 76px !important;
}
