@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.disableScrollbar::-webkit-scrollbar {
  display: none;
}

mat-progress-spinner {
  margin: 15rem auto;
  width: 50%;
}

.link:focus {
  outline: 0 !important;
}
